* {
  font-family: "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Buttons */
  .btn {
    @apply py-2.5 px-4 rounded-lg font-semibold flex items-center transition-all duration-300;
  }

  .btn-sm {
    @apply flex justify-center items-center px-2 py-2 rounded-md transition-all duration-300;
  }

  .btn-primary {
    @apply bg-[#0099ff] text-white hover:bg-[#0077ff];
  }
  /* End Buttons */

  /* Navbar */

  .navbar {
    @apply absolute w-full z-50 bg-zinc-100 lg:bg-transparent;
  }

  .navbar.fixed-nav {
    @apply bg-zinc-100;
  }

  .nav-wrapper {
    @apply relative h-12 lg:h-auto lg:px-8 flex justify-between items-center lg:shadow-none z-50;
  }

  .navbar.fixed-nav {
    @apply fixed w-full top-0 shadow-md;
  }

  .navbar-brand {
    @apply w-full ml-6 lg:ml-0 z-50;
  }

  .brand-item {
    @apply font-semibold text-lg lg:text-2xl text-gray-700 lg:ml-8;
  }

  .nav-menu {
    @apply list-none w-full transition duration-500 absolute -translate-y-[120%] top-10 bg-zinc-100 text-gray-700 py-4 z-40 lg:z-0 lg:w-auto lg:relative lg:translate-y-0 lg:top-0 lg:inline-flex lg:bg-transparent lg:mr-8;
  }
  /* End Navbar */

  /* Toggle Menu */
  .toggle-menu {
    @apply block mr-6 cursor-pointer lg:hidden z-50;
  }
  .burger {
    @apply block border-t-[2.5px] border-gray-700 w-5 h-1.5 transition duration-200 origin-top-right;
  }

  .toggle-menu.show .burger:nth-child(1) {
    @apply -rotate-45 -translate-y-[1px];
  }

  .toggle-menu.show .burger:nth-child(2) {
    @apply opacity-0;
  }

  .toggle-menu.show .burger:nth-child(3) {
    @apply rotate-45 translate-y-[1px] translate-x-[1px];
  }

  .nav-menu.show {
    @apply translate-y-0 shadow-lg lg:shadow-none;
  }
  /* End Toggle Menu */

  /* Menu */
  .nav-link {
    @apply inline-block font-semibold w-full py-1 px-3 mx-2 text-center hover:text-[#0099ff] transition duration-200 whitespace-nowrap;
  }

  .navbar.fixed-nav .nav-menu {
    @apply lg:py-2;
  }
  /* End Menu */

  /* Hero Section */
  .splash {
    @apply flex flex-col-reverse lg:flex-row lg:justify-between py-4 lg:pt-20 lg:pb-10 px-12 lg:px-28;
  }

  .splash-left {
    @apply lg:w-2/4 py-6;
  }

  .greet-splash {
    @apply text-2xl lg:text-4xl font-semibold inline-block;
  }

  .typed-cursor {
    @apply opacity-[1] text-[1.5rem] lg:text-[2.1rem];
  }

  .job-splash {
    @apply text-gray-600 text-lg lg:text-2xl font-semibold;
  }

  .job-desc-splash {
    @apply text-gray-600 text-sm lg:text-lg mt-4 text-justify;
  }

  .bx-right-arrow-alt {
    @apply transition duration-200;
  }

  .get-in-touch:hover .bx-right-arrow-alt {
    @apply translate-x-1;
  }

  .scroll-down {
    @apply w-full flex justify-start px-10 lg:px-[6.5rem];
  }

  .scroll-down-btn {
    @apply flex items-center justify-between hover:translate-y-1 transition-all duration-300;
  }
  /* End Hero Section */

  /* About Section */
  .about {
    @apply bg-zinc-100 mx-auto px-8 lg:px-20 py-6;
  }

  .about-title {
    @apply text-center font-semibold text-2xl lg:text-4xl text-zinc-700 pb-6;
  }

  .about .card {
    @apply lg:flex lg:justify-between;
  }

  .about .card-header {
    @apply flex justify-center lg:w-2/4 lg:px-28;
  }

  .about-img {
    @apply w-2/3 lg:w-full lg:h-min rounded-lg;
  }

  .about-desc {
    @apply text-justify text-base lg:text-lg text-zinc-800;
  }

  .about-exp {
    @apply flex justify-between items-center;
  }

  .about-exp .exp,
  .project-complete,
  .client {
    @apply text-2xl font-semibold text-zinc-700;
  }

  .about-cv {
    @apply py-4 flex justify-center lg:justify-start items-center;
  }
  /* End About Section */

  /* Journey Section */
  .edu-btn,
  .work-btn {
    @apply border-b-2 border-transparent relative transition-all duration-300 ease-in-out;
  }

  .edu-btn.active,
  .work-btn.active {
    @apply text-[#0099ff];
  }

  .edu-btn::after,
  .work-btn::after {
    @apply content-[''] absolute w-0 h-[2px] left-0 bottom-0 bg-[#0099ff] transition-all duration-300 ease-in-out;
  }

  .edu-btn:active::after,
  .edu-btn.active::after,
  .work-btn:active::after,
  .work-btn.active::after {
    @apply w-full left-0;
  }
  /* End Journey Section */
}

nav.navbar,
.nav-wrapper,
.nav-brand,
.nav-menu {
  transition: 0.3s;
}

.after-nav {
  padding-top: 64px !important;
}
